{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a class="btn btn-primary width-100" href="{{ path('ingredients_add') }}" role="button">Dodaj składnik</a>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}